@import url(reset.css);
.container {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
#loginBox {
  margin: 0 auto;
  background-color: #fff;
  height: 3rem;
}
#loginBox #telephone {
  padding: 0.1rem;
  width: 80%;
  height: 1rem;
  margin: 0.1rem 0.7rem;
  box-sizing: border-box;
}
#loginBox #getCode {
  height: 1rem;
  margin: 0.1rem 0.7rem;
}
#loginBox #loginBtn {
  height: 1rem;
  padding: 0.2rem;
  font-size: 0.32rem;
  float: right;
  box-sizing: border-box;
  width: 2.4rem;
}
.btn {
  width: 30%;
  border: none;
  outline: none;
  text-align: center;
  background-color: lawngreen;
  color: #ffffff;
}
