body {
  font-family: sans-serif, '微软雅黑';
  font-size: 0.24rem;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input.button {
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
input {
  font-size: 0.3rem;
  border: none;
  outline: none;
}
